@media only screen and (min-width:320px){.TTWForm{width:300px;}
}
@media only screen and (min-width:600px){.TTWForm{width:500px;}
}
.TTWForm-container{font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
.TTWForm-container h2{font-size:2em;margin-bottom:0.75em;color:#333333;font-weight:normal;}
.TTWForm-container h3{font-size:2.25em;line-height:1.3333333333333333333333333333333em;margin-bottom:0;}
.TTWForm .field, #form-title.field{position:relative;clear:both;}
.f_25{width:21%;display:inline;float:left;margin-left:2%;margin-right:2%;}
.f_50{width:46%;display:inline;float:left;margin-left:2%;margin-right:2%;}
.f_75{width:71%;display:inline;float:left;margin-left:2%;margin-right:2%;}
.f_100{width:96%;display:inline;float:left;margin-left:2%;margin-right:2%;}
.TTWForm input, .TTWForm textarea, .TTWForm select, div.selector, div.uploader{margin:6px 0;}
.TTWForm input:focus, .TTWForm textarea:focus, .TTWForm select:focus{-webkit-box-shadow:0px 0px 5px #bfdeff;-moz-box-shadow:0px 0px 5px #bfdeff;box-shadow:0px 0px 5px #bfdeff;}
.TTWForm input[type=radio], .TTWForm input[type=checkbox]{width:12px;margin:8px 12px;top:3px;position:relative;}
.TTWForm .option{margin:6px 0;}
.TTWForm select{padding:6px 6px;}
.TTWForm textarea{overflow:hidden;}
.TTWForm label{margin-left:6px;color:#666;text-align:left;font:16px/24px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;}
.TTWForm .submit input{text-align:center;font-size:14px;text-decoration:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;text-shadow:1px 1px 0px #fff;display:block;margin:12px -2px 0 0;text-align:center;float:right;padding:6px 12px 0 12px;height:36px;cursor:pointer;min-width:96px;width:auto;background:#FBFBFB;background:-moz-linear-gradient(top, #FBFBFB 0%, #EEEEEE 99%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBFBFB), color-stop(99%, #EEEEEE));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FBFBFB', endColorstr = '#EEEEEE', GradientType = 0);border:1px solid #cfcfcf;font-weight:bold;color:#666;}
#form-title h2{margin-bottom:0;}
.TTWForm .error{height:16px;font:11px/16px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;color:#ff0033;padding-left:12px;z-index:999;position:relative;top:-1px;}
.loading-text{position:relative;top:-3px;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
* html .clearfix,
*:first-child+html .clearfix{zoom:1;}
div.selector,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action{background-image:url(../images/sprite.png);background-repeat:no-repeat;}
.selector,
.radio,
.checker,
.uploader,
.selector *,
.radio *,
.checker *,
.uploader *{margin:0;padding:0;}
div.selector, div.selector.focus, div.selector.hover{background-position:right 1px;line-height:33px;height:33px;}
div.selector span{height:28px;line-height:29px;padding:3px 0 3px 6px;}
div.selector select{top:0px;left:0px;}
div.checker{width:19px;height:19px;}
div.checker input{width:19px;height:19px;}
div.checker span{background-position:0px -36px;height:19px;width:19px;}
div.checker span.checked{background-position:-19px -36px;}
div.radio{width:18px;height:18px;}
div.radio input{width:18px;height:18px;}
div.radio span{height:18px;width:18px;background-position:0px -54px;}
div.radio span.checked{background-position:-18px -54px;}
div.uploader, div.uploader span.action{background-position:right -74px;height:33px;}
div.uploader span.action{line-height:33px;}
div.uploader span.filename{height:33px;margin:2px 0px 2px 2px;line-height:32px;}
div.selector{margin-bottom:20px;width:100%;}
div.selector select{width:100%;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:1em;border:solid 1px #fff;}
div.selector span{cursor:pointer;}
div.selector span{color:#666;width:100%;text-shadow:0 1px 0 #fff;}
div.selector.disabled span{color:#bbb;}
div.checker{margin-right:10px;}
div.radio{margin-right:10px;}
div.uploader{width:100%;margin-bottom:20px;cursor:pointer;}
div.uploader span.action{width:85px;text-align:center;text-shadow:#fff 0px 1px 0px;background-color:#fff;}
div.uploader span.filename{color:#777;width:100%;border-right:solid 1px #bbb;font-size:90%;}
div.uploader input{width:100%;}
div.uploader.disabled span.action{color:#aaa;}
div.uploader.disabled span.filename{border-color:#ddd;color:#aaa;}
.selector select:focus, .radio input:focus, .checker input:focus, uploader input:focus{outline:0;}
div.selector{position:relative;padding-left:10px;overflow:hidden;}
div.selector span{display:block;float:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
div.selector select{position:absolute;opacity:0;height:33px;border:none;background:none;}
div.checker{position:relative;float:left;}
div.checker span{display:block;float:left;text-align:center;}
div.checker input{opacity:0;display:inline-block;background:none;}
div.radio{position:relative;float:left;}
div.radio span{display:block;float:left;text-align:center;}
div.radio input{opacity:0;text-align:center;display:inline-block;background:none;}
div.uploader{position:relative;float:left;overflow:hidden;padding:0 !important;}
div.uploader span.action{float:left;display:inline;padding:2px 0px;overflow:hidden;cursor:pointer;}
div.uploader span.filename{padding:0px 10px;float:left;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
div.uploader input{opacity:0;position:absolute;top:0;right:0;bottom:0;float:right;height:33px;border:none;}
div.uploader span.action, div.uploader:hover span.action, div.uploader.active span.action, div.uploader.focus span.action{display:block;position:absolute;top:0;right:0;padding:0;width:96px;height:33px;text-indent:-99999px;}
div.checker input, div.radio input{margin:0 !important;top:-1px;}
div.selector{padding:0 !important;}
div.selector{background:transparent url(../images/select-bg-ie.jpg) no-repeat right 0px scroll\9;}
input{width:100%;font:16px/24px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;padding:6px;color:#999999;border:1px solid #d9d9d9;outline:none;display:inline-block;position:relative;z-index:2;box-shadow:0 0 10px #eee inset;-moz-box-shadow:0 0 10px #eee inset;-webkit-box-shadow:0 0 10px #eee inset;-ms-box-shadow:0 0 10px #eee inset;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;}
textarea{width:100%;font:16px/24px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;padding:6px;color:#999999;border:1px solid #d9d9d9;outline:none;display:inline-block;position:relative;z-index:2;box-shadow:0 0 10px #eee inset;-moz-box-shadow:0 0 10px #eee inset;-webkit-box-shadow:0 0 10px #eee inset;-ms-box-shadow:0 0 10px #eee inset;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;background:transparent url(../images/textarea-bg.png) repeat-x 0 0 scroll\9;height:132px;}
.submit input{background:transparent url(../images/submit-bg.png) repeat-x 0 0 scroll\9;paddding-top:5 px\9;}
#caltitle{width:152px \9;}
#caldays span{width:27px \9;}
.calweek a{width:26px \9;}
.radio-group input, .checkbox-group input{*border:none;*background:none;*top:6px;*position:relative;*width:18px;}